@import './utils/variables';
@import './utils/base';

@import './components/backdrop';
@import './components/benefits';
@import './components/bisnes';
@import './components/button-porfolio';
@import './components/clients';
@import './components/container';
@import './components/direction';
@import './components/footer';
@import './components/header';
@import './components/join';
@import './components/logo';
@import './components/project-porfolio';
@import './components/socials';
@import './components/subscription';
@import './components/team';
@import './components/work';
