body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    background-color: $white;
    color: $main-color;
    text-decoration: none;
    @media screen and (min-width: 480px) {
        overflow-x: hidden;
        width: 100%;
    }
 
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
button{
    cursor: pointer;
    font-family: inherit;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
}
li,a{
    text-decoration: none;
}
.title {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $main-color;
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
        font-size: 28px;
        line-height: 33px;
    }
    
    @media screen and (min-width:1200px){
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 42px;
    }
}


.section {
    padding: 60px 0;
    
  
    @media screen  and (min-width: 1200px){
        padding: 94px 0;
    }
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    max-width: 480px;
    
    @media screen and (min-width: 768px) {
        max-width: 768px;
        }
    
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
        
        }
    
}
