    $main-color: #212121;
    $blu: #2196f3;
    $white: #fff;
    $gray: #757575;
    $darkBlu: #2196F3;
    $modal-buttom-blu: #188CE8;
    $benefitsBG: #F5F4FA;
    $grayBlu: #AFB1B8;
    $footerBG: #2F303A;
    $headerBorderBT: #ececec;
    $black : #000000;
    $grayscale: #eee;

    
    $borderRadius : 4px;



          --primary-text-color: #212121;
          --font-color: #ffffff;
          --accent-color: #2196f3;
          --logo-color: #000000;
          --contact-color: #757575;
          --hero-font: #2f303a;
          --team-font: #f5f4fa;
          --icon-color: #afb1b8;
          --transition: cubic-bezier(0.4, 0, 0.2, 1);
          }