.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 101;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 581px;
    min-width: 528px;
    background-color: $white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: $borderRadius;
    &__textarea {
            display: block;
            width: 100%;
            height: 120px;
            resize: none;
            padding: 12px 16px;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.01em;
            color: $main-color;
            cursor: pointer;
            margin-top: 4px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: $borderRadius;
            transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
            &:focus {
                border: 1px solid $darkBlu;
                border-radius: $borderRadius;
            }
    }
    
    &__textarea::placeholder {
            color: rgba(117, 117, 117, 0.5);
    }
    .modal__form {
    display: block;
    width: 100%;
    height: 581px;
    padding: 40px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: $gray;
    .modal-text {
            font-weight: 700;
            font-size: 20px;
            line-height: 23px;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            letter-spacing: 0.03em;
            color: $main-color;
            margin-bottom: 12px;
        }
    .modal__label {
            display: flex;
            flex-direction: column;
            text-align: left;
            align-items: flex-start;
            cursor: pointer;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.01em;
            color: $gray;
            margin-bottom: 10px;
    
            .modal__input-wrapper {
                position: relative;
                display: flex;
                width: 100%;
                margin-top: 4px;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.03em;
                color: $gray;
    
                .modal-input {
                    width: 100%;
                    height: 40px;
                    cursor: pointer;
                    outline: none;
                    border: 1px solid rgba(33, 33, 33, 0.2);
                    border-radius: $borderRadius;
                    padding-left: 42px;
                    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
                    &:focus {
                        border: 1px solid $darkBlu;
                        border-radius: $borderRadius;
                    }
    
                    &:focus-within {
                        border: 1px solid $darkBlu;
                        border-radius: $borderRadius;
                    }
    
    
                    &:focus~.modal-icon {
                        fill: $darkBlu;
                    }
                }
            }
        }
}

.modal__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

        .checkbox {
            width: 400px;
            height: 24px;
            display: flex;
            margin: 20px 0 0 12px;
            padding: 0;
            align-items: center;
            cursor: pointer;
            font-size: 14px;
            line-height: 24px;
    
            &__contract {
                color: $blu;
                margin-left: 5px;
                text-decoration: underline;
            }
    
            .modal-input-wrapper-checkbox {
                width: 0;
            }
    
            .checkbox-input {
                appearance: none;
                -webkit-appearance: none;
                position: absolute;
            }
    
            .checkbox-custom-box {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 16px;
                height: 15px;
                margin-right: 8px;
                border: 1.5px solid $main-color;
                border-radius: calc($borderRadius/2);
                cursor: pointer;
                transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
    
            .checkbox-input:checked+.checkbox-custom-box {
                background: $blu;
                border-color: transparent;
            }
        }
        
    &__form-button {
            width: 200px;
            height: 50px;
            background: $darkBlu;
            border-radius: $borderRadius;
            border: none;
            font-weight: 700;
            font-size: 16px;
            line-height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            letter-spacing: 0.06em;
            color: $white;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            margin: auto;
            margin-top: 30px;
            transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover,
            &:focus {
                background: $modal-buttom-blu;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            }
        }
}

.close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 8px;
    top: 8px;
    background: $white;
    background-image: url(../images/Vector.svg);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:focus,
    &:hover {
            background-image: url(../images/VectorBlu.svg);
}
}





