.clients {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    
    &__link {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $grayBlu;
            border-radius: $borderRadius;
            fill: $grayBlu;
            outline: none;
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover,
            &:focus {
                fill: $blu;
                border: 1px solid $darkBlu;
            }
        }
        &__item {
            display: flex;
            width: calc(100%/6 - 30px/6*5);
            height: 92px;
        }
       
}


