.footer{
        height: 603px;
        background-color: $footerBG;
        text-align: center;
    &__nav{

    }
    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $white;
        }
}

.footer-contacts {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &__item {
            margin-bottom: 9px;
    }
    &__item:nth-last-of-type(1) {
            margin-bottom: 0;
    }
    &__google {
            line-height: 24px;
            letter-spacing: 0.03em;
            color: $white;
            text-align: center;
            text-decoration: none;
            font-style: normal;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
                color: $blu;
    }}
    &__info {
            line-height: 24px;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
            margin: 0px;
            text-decoration: none;
            font-style: normal;
      
    &:focus,
    &:hover {
                color: $blu;
    }
}
.footer .logo {
        margin-bottom: 20px;
}
}

.footer .container {
            padding: 60px 0px;
        //     align-items: baseline;
        display: flex;
        flex-direction: column;
        gap: 60px;
        align-items: center;
}
@media screen and (min-width: 768px) {
        .footer {
                height: 463px;
                text-align: center;
                
        
                        &__title {}
                }
        
                .footer .container {
                        flex-direction: row;
                        flex-wrap: wrap;
                        align-items: baseline;
                        justify-content: space-around;
                        // padding: 30px;
                        // display: flex;
                        // flex-direction: row;
                        // justify-content: space-around;
                        // flex-wrap: wrap;
                        // flex-basis: calc((100% - 30px) / 2);
                }
        
                .footer-contacts {
                        padding-bottom: 0;
                        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
                        &__item {}
        
                 
                        &__google {}
        
                        &__info {}
                }
        
                .footer .logo {
                        margin-bottom: 20px;
                }
}

@media screen and (min-width: 1200px) {
        .footer {
                height: 252px;
                text-align: left;
                display: list-item;
        
                        &__title {
                                font-weight: 700;
                                font-size: 14px;
                                line-height: 16px;
                                letter-spacing: 0.03em;
                                text-transform: uppercase;
                                color: $white;
                        }
                }
                .footer .container {
                        flex-direction: row;
                        flex-wrap: wrap;
                        align-items: baseline;
                        justify-content: flex-start;
                        gap: 70px;
                        // padding: 0;
                        display: flex;
                        flex-wrap: nowrap;
                        // align-items: baseline;
                }
        
                .footer-contacts {
                        padding-bottom: 0;
                        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
                        &__item {
                                margin-bottom: 9px;
                        }
        
                        &__item:nth-last-of-type(1) {
                                margin-bottom: 0;
                        }
        
                        &__google {
                                line-height: 24px;
                                letter-spacing: 0.03em;
                                color: $white;
                                text-decoration: none;
                                font-style: normal;
                                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
                        }
        
                        &__info {
                                line-height: 24px;
                                letter-spacing: 0.03em;
                                color: rgba(255, 255, 255, 0.6);
                                margin: 0px;
                                text-decoration: none;
                                font-style: normal;
        
                        }
                }
        
        .footer .logo {
                        margin-bottom: 20px;
        }
}
