.footer{
    background-color: $footerBG;
    text-align: left;
    display: list-item;
    &__title {
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: $white;
        }
}
.footer .container{
    padding: 60px 0px;
    display: flex;
    align-items: baseline;
}
.footer-contacts {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &__item {
            margin-bottom: 9px;
    }
    &__item:nth-last-of-type(1) {
            margin-bottom: 0;
    }
    &__google {
            line-height: 24px;
            letter-spacing: 0.03em;
            color: $white;
            text-decoration: none;
            font-style: normal;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
                color: $blu;
    }}
    &__info {
            line-height: 24px;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
            margin: 0px;
            text-decoration: none;
            font-style: normal;
      
    &:focus,
    &:hover {
                color: $blu;
    }
}
}
.footer .logo{
    margin-bottom: 20px;
}


