.header {
    border-bottom: 1px solid $headerBorderBT;
    &__list {
            display: flex;
            justify-content: space-between;
            gap: 50px;
    
        }
    

        &__item {
            text-decoration: none;
        }
        &__menu {
            display: flex;
            align-items: center;
        }
        &__contact {
            display: flex;
            justify-content: space-between;
            gap: 50px;
            &-link {
                    font-weight: 500;
                    line-height: 16px;
                    letter-spacing: 0.02em;
                    color: $gray;
                    text-decoration: none;
                    display: flex;
                    font-style: normal;
                    align-items: center;
                    padding: 32px 0px;
                    fill: $gray;
                    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            
                    &:focus,
                    &:hover {
                        color: $blu;
                        fill: $blu;
                    }
                }
        }
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.black {
    position: relative;
    color: $main-color;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin: auto;
    font-style: normal;
    display: block;
    padding: 32px 0px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus, &:hover{
    color: $blu;
    fill: $blu;
    
    }
}





.icon-header {
    margin-right: 10px;
}

.active {
    color: $blu;
    &::after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 4px;
            background: $darkBlu;
            border-radius: calc($borderRadius/2);
            bottom: -1px;
        }
}
.header .logo{
    margin: 24px 93px 24px 0;
}
