.logo {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
    font-size: 26px;
    line-height: 31px;
    
    color: $blu;
    
    text-decoration: none;
    &__footer {
            color: $white;
        }
    &__header {
            color: $black;
        }
}
@media screen and (min-width: 480px){
    .header__logo{
        padding: 16px 0;
    }
    .footer .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        // margin-bottom: 20px;
    }
}

@media screen and (min-width: 768px) {
    .header__logo {
        // margin-right: 93px;
        padding: 24px 0;
        margin-right: 88px;
    }
    .footer .logo{
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    .header__logo {
        margin-right: 93px;
        
        
    }
    .footer .logo{
        display: block;
    }
}
