.socials {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
    &__link {
        height: 44px;
        width: 44px;
        display: flex;
        align-content: center;
        justify-content: space-around;
        align-items: center;
        border-radius: 50%;
        margin: 0px;
        padding: 0px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: $blu;
            fill: $white;
        }
    }

    &__image {
        fill: $grayBlu;
        height: 20px;
        width: 20px;
        &:hover,
        &:focus{
            fill: $white;
        }
        
    }
    &__link--dark{
        background: rgba(255, 255, 255, 0.1);
    }
    &__image--dark{
        fill: $white;
    }
}
