.work {
    padding-top: 0px;
    padding-bottom: 94px;
    &__list {
            display: flex;
            justify-content: space-between;
        }
    &__item {
                position: relative;
        }
    // &__image{

    //     }
    &__box {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 70px;
                bottom: 0;
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: $white;
                background: rgba(47, 48, 58, 0.8);
    }
}




